.border-gradient {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 4px;
  }

.border-gradient-green {
    border-image-source: linear-gradient(to left, #5d5d5d, #383838);
  }

  .nav-outer{
    display: flex;
    padding:24px 0px;
    justify-content: space-between;
}